---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=xkcd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ZeKbnM2U7Jh3NCyMa7STdcctlJfKAqY8gCbjDuRreLEwVakPmpfIJZDD
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '225000'
      X-Ratelimit-Remaining:
      - '224861'
      X-Ratelimit-Reset:
      - '1677343930'
      X-Server:
      - anteater
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[],"total_results":0}'
  recorded_at: Fri, 27 Jan 2023 16:07:26 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - ZeKbnM2U7Jh3NCyMa7STdcctlJfKAqY8gCbjDuRreLEwVakPmpfIJZDD
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '225000'
      X-Ratelimit-Remaining:
      - '224860'
      X-Ratelimit-Reset:
      - '1677343930'
      X-Server:
      - alpaca
    body:
      encoding: UTF-8
      string: '{"status":400,"code":"No query param given"}'
  recorded_at: Fri, 27 Jan 2023 16:07:26 GMT
recorded_with: VCR 6.1.0
