---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=xkcd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5188ac46f9d89b65c048e79e02f554ce"
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19996'
      X-Ratelimit-Reset:
      - '1682104749'
      X-Server:
      - bulldog
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[],"total_results":0}'
  recorded_at: Sun, 26 Mar 2023 14:14:53 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19995'
      X-Ratelimit-Reset:
      - '1682104749'
      X-Server:
      - chameleon
    body:
      encoding: UTF-8
      string: '{"status":400,"code":"No query param given"}'
  recorded_at: Sun, 26 Mar 2023 14:14:53 GMT
recorded_with: VCR 6.1.0
