---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=1d4e5389&app_key=6c5bfb746828d835e9e10b7e4b13b628&q=xkcd&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Fri, 27 Jan 2023 16:07:30 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=1d4e5389&app_key=6c5bfb746828d835e9e10b7e4b13b628&q=&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Fri, 27 Jan 2023 16:07:30 GMT
recorded_with: VCR 6.1.0
