---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=Thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19898'
      X-Ratelimit-Reset:
      - '1676248184'
      X-Server:
      - anteater
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[{"id":3393546,"width":3573,"height":5360,"url":"https://www.pexels.com/photo/man-standing-outside-a-prayer-temple-3393546/","photographer":"Nick
        Wehrli","photographer_url":"https://www.pexels.com/@oidonnyboy","photographer_id":1803654,"avg_color":"#958478","src":{"original":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg","large2x":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/3393546/pexels-photo-3393546.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Man
        Standing Outside a Prayer Temple"},{"id":3732494,"width":4960,"height":3272,"url":"https://www.pexels.com/photo/boats-on-seashore-3732494/","photographer":"Erik
        Karits","photographer_url":"https://www.pexels.com/@erik-karits-2093459","photographer_id":2093459,"avg_color":"#7A7466","src":{"original":"https://images.pexels.com/photos/3732494/pexels-photo-3732494.jpeg","large2x":"https://images.pexels.com/photos/3732494/pexels-photo-3732494.jpeg?auto=compress\u0026cs=tinysrgb\u[...]
[...]
