---
http_interactions:
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=xkcd
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19892'
      X-Ratelimit-Reset:
      - '1676248184'
      X-Server:
      - alpaca
      X-Tyk-Cached-Response:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":15,"photos":[],"total_results":0}'
  recorded_at: Sun, 15 Jan 2023 21:33:28 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?query=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Authorization
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '20000'
      X-Ratelimit-Remaining:
      - '19891'
      X-Ratelimit-Reset:
      - '1676248184'
      X-Server:
      - alpaca
    body:
      encoding: UTF-8
      string: '{"status":400,"code":"No query param given"}'
  recorded_at: Sun, 15 Jan 2023 21:33:28 GMT
recorded_with: VCR 6.1.0
